---
import Layout from "../layouts/Layout.astro"
---
<Layout title="Home">
    <div>PAGE CONTENT</div>
</Layout>


<!-- adding font file manually -->
<!-- <style>
  @font-face {
  font-family: "IBM Plex Serif";
  src:
    url("../../public/fonts/IBMPlexSerif-Regular.woff2") format("woff2");
    /* url("fonts/zantroke-webfont.woff") format("woff"); */
  font-weight: normal;
  font-style: normal;
}
</style> -->


