---
import Layout from "../layouts/Layout.astro"
import ContentLayout from "../layouts/ContentLayout.astro"
---
<Layout title="Home">
  <div class="flex justify-center bg-neutral-200 bg-opacity-90" style="height:100vh">...UNDER CONSTRUCTION</div>
</Layout>

