---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Projects">
    <h4>ArtRoom</h4>
    <p><em>Social networking for visual artists</em></p>
    <p>Showcase your finished artworks, exchange pieces, or share while creating to get input from fellow artists.</p>
    <hr>
    <h4>Ethical Product</h4>
    <p><em>Participate in ethical trade</em></p>
    <p>Crowd-sourced commodity inventory to support ethical trade. Use freely to support, criticize, or boycott products and services.</p>
</Layout>