---
import Layout from "../layouts/Layout.astro";
import ContentLayout from "../layouts/ContentLayout.astro";
import ProjectEntry from "../components/ProjectEntry.astro";
import { getCollection } from "astro:content";

const allProjects = await getCollection("projects");

---
<Layout title="Projects">
    <div class="bg-white bg-opacity-20 text-center py-20 flex justify-center">
        {allProjects.map((project) => <ProjectEntry project={project.data} />)}
    </div>
</Layout>