---

---

<div class="flex space-x-24 justify-between bg-orange-300 text-yellow-900 h-20">
    <div class="flex flex-col justify-center ps-12">NOUR AOUDE</div>
    <nav class="flex space-x-24 items-center pr-12 font-bold">
        <a class="flex justify-center" href="/">Home</a>
        <a class="flex justify-center" href="/experience">Experience</a>
        <a href="/projects">Projects</a>
        <a href="/gallery">Gallery</a>
    </nav>
</div>

<style>
	nav {
		align-items: center;
	}
</style>