---
import ExperienceNav from "../components/ExperienceNav.astro";
---

<ExperienceNav />
<div class="bg-white bg-opacity-20 flex justify-center p-20" style="height: max(100vh, 100%)">
    <div class="bg-white bg-opacity-70 rounded-2xl text-sm" style="max-width: 800px; height:auto">
        <slot />
    </div>
</div>